[user]
	name = 245950258
	email = 48277384+245950258@users.noreply.github.com
[http]
	postBuffer = 52428800
	sslVerify = false
# [url "https://github.com.cnpmjs.org/"]
# 	insteadOf = https://github.com/
[credential]
	helper = store
# 	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
# 	git config --global credential.helper store
# 	git config --global --unset credential.helper
# 	git credential-manager uninstall
# 	git config --list
